#vc-spotify-player {
    background-color: var(--background-gradient-highest, var(--background-base-low)) !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid var(--border-subtle);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 130px;
    margin-bottom: 12px;
}

section[class^="panels_"] {
    background: var(--background-gradient-high, var(--background-base-lowest));
    border: 0px;
    border-left: 0px;
}

section[class^="panels_"] div[class^="container__"] {
    background-color: var(--background-gradient-highest, var(--background-base-low));
    border: 1px solid var(--border-subtle);
    border-radius: 20px;
}

section[class^="panels_"] div[class^="panel_"] {
    margin-bottom: 12px;
    border-radius: 20px;
    border: 1px solid var(--border-subtle);
}

header[class^="header_"] {
    border-bottom: 0px;
}

section[class^="panels_"] div[class^="listeningAlong_"] {
    border: 1px solid var(--border-subtle) !important;
    margin-bottom: 12px;
    border-radius: 20px;
}


:root {
    --friend-row-amount: 4;
}
@media (width < 1300px) {
    #app-mount {
        --friend-row-amount: 3;
    }
}
@media (width < 1100px) {
    #app-mount {
        --friend-row-amount: 2;
    }
}
@media (width < 700px) {
    #app-mount {
        --friend-row-amount: 1;
    }
}

.peopleList__5ec2f >div {
display: flex;
flex-wrap: wrap;
margin: 0px 0px 0px 16px;
.sectionTitle__5ec2f {
    width: 100%;
    >h2.title__1472a {
margin-left: 0px;
    }
}
.peopleListItem_cc6179 {
    margin: 0px!important;
    width: calc(100% / var(--friend-row-amount));
    overflow: visible;
}
.infoSpacing_f4bc97 {
    display: none;
}
}
